

/* .board{
  margin-left: 40%;
  margin-top: 25%;
} */

.board-row{
  height: auto;
  width:auto;
}

.square {
  text-align: center;
  height: 10em;
  width: 10em;
  display: inline-block;
  vertical-align: bottom;
  font-weight: bold;
  font-size:larger
}

.reset{
  display: inline-block;
  height: 3em;
  width: auto;
  margin-top: 10px;
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
